body {
	padding: 0;
	margin: 0;
}

.heading {
	background-color: #1F2937;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 100px;
	padding-top: 12px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	gap: 100px;
}

.paragraph h1 {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: 900;
	margin-bottom: -12px;
}

.paragraph p {
	font-size: 18px;
	color: #E5E7EB;
}

.headbar {
	display: flex;
	padding-left: 0;
	gap: 32px;
}

.headbar .headerlogo {
	margin-right: auto;
	margin-left: 0;
	font-size: 24px;
	color: F9FAF8;
	font-weight: 900;
}

.headbar li {
	font-size: 18px;
	color: #E5E7EB;
}

.paragraph {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: flex-start;
}

.headinfo {
	gap: 50px;
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.headinfo button {
	background-color: #3882F6;
	color: white;
	border: 0px;
	border-radius: 12px;
	width: 150px;
	height: 35px;
}

.headimg {
	flex: 1;
	max-width: 100%;
	min-width: 64px;
	min-height: auto;
	height: auto;
}

ul {
	list-style: none;
}

.firstmiddle {
	padding-top: 50px;
	padding-bottom: 100px;
	padding-right: 300px;
	padding-left: 300px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.presentation {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.presentation h1 {
	font-size: 36px;
	color: #1F2937;
	font-weight: 900;
}

.imagelist {
	display: flex;
	gap: 24px;
}

.imagelist p {
	font-size: 18px;
}

.firstimage {
	display: flex;
	flex-direction: column;
}

.firstimage div {
	padding: 100px;
	box-shadow: inset 0 0 0 4px blue;
	border-radius: 12px;
}

.firstborder {
	padding: 100px;
	border-radius: 12px;
	border: 8px blue;
}

.secondimage {
	display: flex;
	flex-direction: column;
}

.secondimage div {
	padding: 100px;
	box-shadow: inset 0 0 0 4px blue;
	border-radius: 12px;
}


.thirdimage {
	display: flex;
	flex-direction: column;
}

.thirdimage div {
	padding: 100px;
	box-shadow: inset 0 0 0 4px blue;
	border-radius: 12px;
}


.fourthimage {
	display: flex;
	flex-direction: column;
}

.fourthimage div {
	padding: 100px;
	box-shadow: inset 0 0 0 4px blue;
	border-radius: 12px;
}

.secondmiddle {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: #E5E7EB;
	padding-top: 130px;
	padding-bottom: 65px;
	padding-right: 300px;
	padding-left: 300px;
}

.quote {
	font-style: italic;
	font-size: 36px;
	color: #1F2937;
}

.author {
	text-align: end;
	font-weight: 900;
	font-size: 28px;
}

.thirdmiddle {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 150px;
	padding-left: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.call {
	background-color: #3882F6;
	border-radius: 8px;
	display: flex;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 150px;
	padding-left: 150px;
	gap: 150px;
}

.call h1 {
	color: white;
	font-size: 28px;
	font-weight: 900;
	margin-bottom: -16px;
}

.call p {
	color: lightgrey;
	font-size: 18px;
}

.call button {
	border-color: white;
	color: white;
	background-color: #3882F6;
	width: 200px;
	border-radius: 12px;
}

footer {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	color: white;
	font-size: 16px;
	padding-top: 32px;
	padding-bottom: 32px;
	background-color: #1F2937;
}
